.menu-item {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 28px;
  margin-right: 16px;
  margin-left: 16px;
}

.home-link {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 769px) {
  .menu-item {
    display: none;
  }
}
